/*------------------------------------*\
              ¡CLASSES
\*------------------------------------*/

div.welcome {
  width: 100%;
  margin-top: 100px;
}
    .welcome h1 {
      text-align: center;
      width: 100%;
      color: #696969;
    }
    .welcome p {
      text-align: center;
      margin-top: 100px;
      width: 100%;
    }
/*------------------------------------*\
              ¡BUTTONS
\*------------------------------------*/

div.buttons {
  margin-top: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background: #FFF;
  border: solid 1px #CCC;
  height: 25px;
  text-align: center;
  width: 75px;
}

/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrap {
  position: relative;
  height: 100%;
}

/*------------------------------------*\
              ¡NAV
\*------------------------------------*/

div.navigation {
    position: absolute 0px;
    width: 100%;
    height: 20px;
    border: 3px solid #800000;
  }
      div.navigation nav {
        list-style-type: none;
        margin: 0;
        padding-left: 0px;
      }
      div.navigation a {
        float: left;
        display: inline;
		text-align: center;
        width: 15%;
      }
