<h1>Welcome to the dashboard</h1>

<h1>Instgram feed</h1>
<div class="posts">
  {{#each feed}}
    <div class="feed_image">
      <img src="{{this.images.standard_resolution.url}}" alt="" />
    </div>
  {{/each}}
</div>

{{> instagramBox }}
