<div class="wrap">
  <div CLASS='welcome'>
    <h1>{{title}}</h1>
    <p>{{welcome}}</p>
  </div>
  <div class="buttons">
    <button class="btn"><a href="/user/Dashboard">Log In</a></button>
  </div>
  <div class="buttons">
    <button class="btn"><a href="https://instagram.com/">Sign Up</a></button>
  </div>
</div>
