
<div class="wrap">
  <div CLASS='welcome'>
    <h1>Welcome to Instagram Viewer!</h1>
    <p>This website works side-by-side with Instragram to make it easier to view your profile, favorite searches, and dashboard. If you don't have an Instagram account, hit "sign up" below, and you will be redirected to Instagram to create an account.</p>
    <p></p>
  </div>
  <div class="buttons">
    <button class="btn"><a href="Dashboard.html">Log In</a></button>
  </div>
  <div class="buttons">
    <button class="btn"><a href="https://instagram.com/">Sign Up</a></button>
  </div>
</div>
