</div>
<div class="profileImage">
  <img src="{{ userInfo.profile_picture }}" alt="Profile Pic" />

</div>
<div class="username">
  <h2> {{userInfo.username}}</h2>
</div>
<div class="input">
  <p style="color: red;"> {{error}} </p>

  <form class="information" action="" method="post">
    <p>
      <label for="userName">Name: </label>
      <input type="text" name="userName">
    </p>
    <p>
      <label for="email">Email: </label>
      <input type="text" name="email">
    </p>
    <p>
      <label for="bio">Bio: </label>
      <input type="text" name="bio">
    </p>
    <input class="submit" type="submit" value="Submit">
    <br>
  </form>
</div>
