<link rel="stylesheet" href = "/css/jeannemunk.css">
</div>
<div class="profileImage">
  <img src="/images/ProfilePlaceholder.png" alt="Profile Pic Placehoder">
</div>
<div class="username">
  <h2>[Username]</h2>
</div>
<div class="input">
  <form class="information">
    Name:<br>
    <input class="infoName" type="text" name="name">
    <br>
    Email:<br>
    <input type="text" name="email">
    <br>
    Bio:<br>
    <input type="text" name="bio">
    <br>
    <input class="submit" type="submit" value="Submit">
    <br>
  </form>
</div>
