<div CLASS='searchBarHeader'>
	<h2> Search hashtags below: </h2>
</div>
<div CLASS='searchBar'>
	<form class = "searhForm" action="" method = "post" id="search-form">
		<input type="text" id="search" name="search" placeholder="Search" />
	</form>
</div class = "results">
	<p>
		{{#each result}}
			{{this.name}}
	  {{/each}}
	</p>
<div>
</div>
<div CLASS="savedSearchButton">
	<a href="savedSearches"> Saved Searches </a>
</div>
