<div CLASS='searchBarHeader'>
	<h2> Enter the hashtags below related to search for related posts on instagram: </h2>
</div>
<div CLASS='searchBar'>
	<form action="" id="search-form">
		<input type="text" id="search" name="search" placeholder="Search" />
</div>
<div CLASS="savedSearchButton">
	<a href="SavedSearches.html"> Saved Searches </a>
</div>
