/*------------------------------------*\
				SearchBar
\*------------------------------------*/

.searchBarHeader  h2{
	margin-left: 10%;
	margin-top: 50px;
	float: left;
	width: 100%;
	font-size: 20px;
	font-weight: normal;
	border-radius: 20px;
}

.searchBar {
	margin-left: 10%;
	width: 190px;
	margin-top: 10px;
	float: left;
}

div.savedSearchButton button {
	display: inline;
  width: 100px;
	height: 20px;
	margin-left: 10%;
	margin-top: 10px;
}

.saveButton {
	float: left;
	margin-top: 10px;
}


/*------------------------------------*\
		Hashtag Search Results
\*------------------------------------*/

.noResults {
	margin-left: 10%;
	width: 100%;
	margin-top: 5px;
	color: red;
}

.displayHashtags {
	float: left;
	width: 15%;
	margin:1% 1% 1% 1%;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
	border: 2px solid #2a2a2a;
}

.displayHashtags:nth-child(2n) {

}

.search {
	border-radius: 20px;
	border-color: a8a8a8;
	width: 450px;
	height: 25px;
}

/*Saved Searches*/
.savedSearches {
	float: left;
	margin-top: 50px;
	margin-left: 25px;
	width: 100%;
}

.displayHashtags .searchForm .submit {
	background-color: #FFFFFF;
	border-style: hidden;
	width: 100px;
	height: 22px;
	font-size: 20px
}

.displayHashtags .removeTagForm .submit {
	background-color: #FFFFFF;
	color: #800000;
	border-style: hidden;
	width: 45px;
	height: 18px;
}

.savedSearches h1 {
	margin-bottom: 20px;
}
