<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel="stylesheet" href = "/css/style.css">
      <link rel="stylesheet" href = {{css}}>
      <script src="/js/main.js" type="text/javascript"></script>
  </head>
  <body>
    <div CLASS='navigation'>
      <nav>
        <a href="/">Home</a>
        <a href="/user/Dashboard">Dashboard</a>
        <a href="/user/Profile">Profile</a>
        <a href="/user/Search">Search</a>
        <a href="/">Log Out</a>
      </nav>
      <p> Welcome, [Username]</p>
    </div>
    {{{body}}}
  </body>
</html>
