<div class="displayHashtags">
  <!-- <a href="search">{{this}}</a> -->
  <form class = "searhForm" action="search" method = "post" id="search-form">
		<input type="hidden" id="search" name="search" value={{this}} />
		<input class="submit" type="submit" value={{this}}>
	</form>
</div>
