<div class="instagramBox">
  <a href="https://instagram.com/">
    <img src="{{this.images.standard_resolution.url}}" alt="" />
  </a>
  <h3 class="left">3 Likes</h3>
  <h3 class="right">5 Comments</h3>
</div>
