<div class="instagramBox">
  <a href="https://instagram.com/">
    <img src="{{this.images.standard_resolution.url}}" alt="" />
  </a>
  <h3 class="left">{{this.likes.count}} Likes</h3>
  <h3 class="right">{{this.comments.count}} Comments</h3>
</div>
